.add-author-section{
  .click-add-author{
    .add-author{
      font-weight: bold;
      color:green;
      font-size: large;
      text-underline: green;
    }

  }
  .add-author-form{
    .author-name-lable{
      font-size: small;
    }


  }

}