.Authors{
  .title{
    font-weight: bold;
    margin-left: 1vw;
    border-bottom: 3px solid black;
  }
  .empty-lable{
    font-weight: normal;
    font-size:medium ;
    font-style: italic;
  }
  .author-list{
    li{
      font-size: larger;
      font-weight: bolder;
      .delete-btn , .edit-btn{
        display:none;
      }
      &:hover {
        .delete-btn{
          color:red;
          display: inline;
          cursor: pointer;
        }
        .edit-btn{
          color: orange;
          display:inline;
          cursor: pointer;
        }
      }

    }
  }

}