.welcome-section{
  font-family: 'Raleway' , sans-serif;
  h1{
    font-weight: 700;
    color: black;

  }
  img{
    width: 100%;
    height: auto;
  }
  /**Credit{
    padding-right: 20em;
    color: #2d2d2d;
  }**/
}